@model AppMaragogiAPI.CategoriasMaragogi

@using (Html.BeginForm("Edit", "CategoriasMaragogi", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Editar Categoria de Maragogi - @Model.Nome</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CategoriaMaragogiId)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Icone)

    <input hidden="hidden" name="OldName" value="@Model.Nome">

    <div class="form-group col">
        <select class="custom-select mt-2" name="Categoria" required>
            <option selected>@Model.Categoria</option>
            <option value="">Selecione a categoria</option>
            <option value="Praias">Praias</option>
            <option value="Pontos Turísticos">Pontos Turísticos</option>
            <option value="Outros">Outros</option>
        </select>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-12">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UrlVideo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col">
            @Html.EditorFor(model => model.UrlVideo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UrlVideo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col">
            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Localizacao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col">
            @Html.EditorFor(model => model.Localizacao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Localizacao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-success" type="submit" id="inputGroupFileAddon03">Enviar</button>
        </div>
        <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="inputGroupFile03">
            <label class="custom-file-label" for="inputGroupFile03">Escolha um arquivo</label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Token, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Token, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Token, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-12">
            <a href="@Url.Action("Index", "CategoriasMaragogi")" class="text-primary">Voltar</a>
            <input type="submit" value="Save" class="col-11 btn btn-primary" />
        </div>
    </div>
</div>
}