<div class="card p-2 mt-2">
    <div class="row">
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("Add", "Empresa")"><p class="text-white"><i class="fa fa-plus"></i> Empresa</p></a>
        </div>
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("Index", "Empresa")"><p class="text-white"><i class="fa fa-search"></i> Empresas</p></a>
        </div>
    </div>

    <div class="row">
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("Add", "Categorias")"><p class="text-white"><i class="fa fa-plus"></i> Categoria</p></a>
        </div>
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("Index", "Categorias")"><p class="text-white"><i class="fa fa-search"></i> Categorias</p></a>
        </div>
    </div>

    <div class="row">
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("Add", "CategoriasMaragogi")"><p class="text-white"><i class="fa fa-plus"></i> Categoria Maragogi</p></a>
        </div>
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("Index", "CategoriasMaragogi")"><p class="text-white"><i class="fa fa-search"></i> Categorias Maragogi</p></a>
        </div>
    </div>

    <div class="row">
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("EditFundoMaragogi", "FundoCategoriasMaragogi")"><p class="text-white"><i class="fa fa-picture-o"></i> Fundo Maragogi</p></a>
        </div>
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("EditFundoPontoTuristico", "FundoCategoriasMaragogi")"><p class="text-white"><i class="fa fa-picture-o"></i> Fundo Ponto Turistico</p></a>
        </div>
    </div>

    <div class="row">
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("EditFundoPraias", "FundoCategoriasMaragogi")"><p class="text-white"><i class="fa fa-picture-o"></i> Fundo Praias</p></a>
        </div>
    </div>

    <div class="row">
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("EditImages", "HistoriaMaragogi")"><p class="text-white"><i class="fa fa-picture-o"></i> Editar Foto da História de Maragogi</p></a>
        </div>
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("Edit", "HistoriaMaragogi")"><p class="text-white"><i class="fa fa-edit"></i> Sobre de Maragogi</p></a>
        </div>
    </div>

    <div class="row">
        <div class="card col m-3 bg-primary">
            <a class="m-3" href="@Url.Action("Index", "MainCategorias")"><p class="text-white"><i class="fa fa-search"></i> Fundo Categoria Principal</p></a>
        </div>
    </div>
</div>